/* Check with  https://jigsaw.w3.org/css-validator/validator  */
/* Author Jose.Teixeira */ 
body {
/*
	 font-family: 'PT Sans', sans-serif;
    min-height: 740px;
*/
    font-family: "Roboto", sans-serif;
    min-height: 740px;
    

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    
}



.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


h1 {
  display: block;
  font-size: 1.0em;
  margin-top: 0.0em;
  margin-bottom: 0.47em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
}



h2 {
  display: block;
  font-size: 0.7em;
  margin-top: 0.23em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
  text-align: center;
}


h3 {
  color: black;
  display: block;
  font-size: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
	opacity: 1.0;
	color: black;
	font-size: 0.7em;
	padding-top: 10px;
	line-height: 1.1;
}

blockquote, q {
  opacity: 1.0;
  font-size: 75%;
  font-style:italic; 
  padding-top: 0px;
  line-height: 1.0;
  color: black; 
  /*color: DarkBlue;*/
}


.t-red {color: DarkRed;}
.t-orange {color: Orange;}
.t-green {color: DarkGreen;}
.t-blue {color: DarkBlue;}
.t-purple {color: Purple;}
.t-violet {color: DarkViolet;}
.t-gold {color: DarkGoldenRod;}
.t-indigo {color: Indigo;}

.t-line-strikethrough{
  color: black;
  opacity: 0.8;
}


.t-line-strikethrough:hover{
  opacity:0.5;
  transition: all 0s linear 0s;
  text-decoration: line-through;
}

.highlight-blue {
  background-color: #add8e6;
  padding: 0 6px;
}

.highlight-red {
  background-color: DarkRed;
  padding: 0 6px;
}


caption {
		font-weight: bold;
		padding-bottom: 10px;
	}

table.db {
		  width: 50%;
		  font-size: 40%; 
		  line-height: 1.0;
        border-collapse: collapse;
        width: 100%;
        border: 1px;
}

thead.db th {
   border: 1px solid black;
}


th.db, td.db {
        padding: 8px;
        text-align: left;
		  border: 1px solid black;
}

th.db {
        background-color: #f2f2f2;
        border: 1px;
}

tr.db:nth-child(even) {
        background-color: #f2f2f2;
        border: 1px;
}




/* class list */ 
.list {
  display: inline-block; 
  position: relative;
  line-height: 1.0;
  font-size: 70%;
  margin-top: 10px;

}

/* use for list headers on top*/ 
.list h2 {
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0px;
}


/* use for list headers on top*/ 
.list h3 {  
  padding: 0px;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0px;
}



.list ul {
  position: relative;
  list-style: none;
  list-style-type: none;  
  
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}


/* list items are dimGray if nobody touches them */ 
.list ul li {
  position: relative;
  /* left: 10px; */ 
  color: DimGray;
  border-left: 2px solid DarkBlue;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 15px;
}

/* They become black if we hover on the them  */
.list ul li:hover {
  display: inline-block;
  position: relative;
  font-weight: bold;
  left: 10px;
  color: Black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  z-index: 1;
  transition: 0.5s;
}

.list ul li:before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 10px ;
  background-color: DarkBlue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  box-shadow: inset 100px 0 0 0 #54b3d6;
}
.list ul li:hover:before {
  transform-origin: bottom left;
  transform: scaleX(1);
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  	color: DarkBlue;
}



/* 
Links are based on https://css-tricks.com/css-link-hover-effects/ style
	
*/

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}



/* hide out inactive steps (aka slides) 

Usage  <div class="step hide"> </div> 
*/ 

.hide.step.active {visibility: visible;}
.hide.step:not(.active) { visibility: hidden;}


.full-img{
	width: 900px; 
	height: 700px; 
	padding: 0; 
}


img.banner {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 70%;
  height: 30%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}


img.country-flag{
	display: inline;
	vertical-align: middle;
	margin: 0 0 0 0;
	padding: 0;
	width: 50px;
	height:20px;  
	

}

img.city-flag{
	display: inline;
	vertical-align: middle;
	margin: 0 0 0 0;
	padding: 0;
	width: 20px;
	height:20px;  
}


img.casual20 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 20%;
  height: 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}

img.casual30 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}


img.casual50 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}

img.casual60 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}


img.casual65 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 65%;
  height: 65%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}


img.casual70 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}


img.casual700x500 {
  padding-top: 10px;
  margin: auto;
  display: block;
  width: 700px;
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}



figure img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  vertical-align: middle;
}

figure figcaption {
  font-family: 'Courier', sans-serif;
  font-size: 12px;
  padding: 0;
  margin-top: 0px;
  text-align: center;
}

.fig-credit {
  padding-top: 0px;
  color: DimGray;
  font-size: 10px;
  font-style: italic;
}

.fig-credit:before {
  content: 'Figure: ';
}

.photo-credit {
  padding-top: 10px;
  color: DimGray;
  font-size: 12px;
  font-style: italic;
}

.photo-credit:before {
  content: 'Photo: ';
}

div.quote {
	line-height: 1.0;
	width: 800px; 
	height: 320px;
	margin-top: 0px; 
	padding-top: 0px;	 
	background-image: linear-gradient(
			-45deg,
			transparent,
			transparent 2%,
			white 2%,
			white 85%,
			transparent,
			85%,
			transparent
		),
		linear-gradient(to bottom right, #2ad, #2ad 90%, transparent 90%);
	filter: drop-shadow(0 0 15px #0005);
}


p.quote::before {
	top: -2rem;
	left: 1rem;
	content: open-quote;
}

p.quote::after {
	bottom: -1rem;
	right: 1rem;
	content: close-quote;
}

h2.quote {
	padding-top: 40px;
	padding-left: 3em;
	display:block; 
	text-align: center;
	width: 600px;
	color: DarkBlue;
	font-size: 30px;
	font-weight: bold;
	text-shadow: -2px 2px #fff, -1.5px 1.5px #fff, -1px 1px #fff, -0.5px 0.5px #fff;
}

h4.quote {
	padding-top: 0px;
	padding-right: 40px;
	margin-top: 0px;
	text-align: right;
	color: black;
	text-shadow: -2px 2px #fff, -1.5px 1.5px #fff, -1px 1px #fff, -0.5px 0.5px #fff;
	font-size: 18px;
}


p.quote {
	padding-left: 10px;
	color: black;
	opacity: 1.0;
	font-style:italic; 
	font-size: 40px;
	text-indent: 1ch;
}

cite {
	font-size: 14px;
	position: relative; 
	top: -0.5em;   
}


/* List with arrows */
#list-arrow-style { list-style:none; }
#list-arrow-style li:before {
	font-size: 80%;
	color: darkblue;
    content: "\2192 \0020";
    
}


div.quote-collection {
	color: inherit;
	padding-left: 10%;
	line-height: 1.0;
}

ul.quote-collection {
	color: inherit;
	list-style: none;
}

li.quote-collection {
	color: inherit;
}


div.center {
  position: relative;
  top: 100px; 		
  width: 450px; 
  margin: auto; 
  text-align: center;
  
  /* Optional Styling */
  padding: 20px;
  border-style: solid;
  border-color: #B6C7D6;
  border-radius: 20px;
  background-color: #EAF0F6;
 
}


div.academic-footer::before {
	padding-left: 20px;
	padding-bottom: 0px;
	content: "See: \A ";  
}


div.academic-footer::after {
	bottom: -1rem;
	bottom: -1rem;
	right: 1rem;
	content: close-quote;
}

div.academic-footer {
	color: black;
	opacity: 1.0;
	/* padding-left: 20px; */
	padding-top: 0px; 
	font-size: 12px;
}

ul.ref-list {
	padding-top: 0px;
	font-size: 12px; 
	list-style-position: inside; 
	list-style-type: decimal;
	padding-left: 20px;
 	color: black;
	/* color: darkkhaki;*/ 
	line-height: 1.1;
}
